.typeahead.result {
  list-style-type: none;
  margin-left: 0;
}

.typeahead.result li .close {
  padding: 2px;
  font-size: 12px;
} 

.typeahead.dropdown-menu {
  min-width: 250px;
}

.typeahead.dropdown-menu li {
  position: relative;
}

.typeahead.dropdown-menu li .extra {
  position: absolute; right: 0; top: 0;
  color: gray;
}